@use '../01-settings/' as *;



.site-header {

    background: url('../assets/img/start.jpeg') center/cover;
    height: 100vh;
    position: relative;

    &__button {
        position: absolute;
        bottom: 15%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}